ion-button {
  width: 100%;
  height: 42px;
  margin-top: 18px;

  --background: linear-gradient(90deg, #11998e, #38ef7d);
  --color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
}
