ion-content {
  --background: linear-gradient(180deg, #134e5e, #71b280);
}


/* CONTENEDOR QUE SIEMPRE CENTRA */
.page-center {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;  // horizontal
  align-items: center;      // vertical
}

/* TARJETA */
.login-wrapper {
  background: #ffffff;
  width: 100%;
  max-width: 340px;
  padding: 22px 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);

  display: flex;
  flex-direction: column;
  align-items: center;
}


/* INPUTS */
.input-item {
  width: 100%;
  margin-top: 14px;
  --highlight-color-focused: #2e8b8b;
}

/* BOTÓN */
app-button {
  width: 100%;
  margin-top: 18px;
}

