<ion-content fullscreen>
  <div class="page-center">
    <div class="login-wrapper">

      <app-avatar></app-avatar>

      <ion-item class="input-item">
        <ion-input
          label="Usuario"
          label-placement="floating"
          type="text">
        </ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          label="Contraseña"
          label-placement="floating"
          type="password">
        </ion-input>
      </ion-item>

      <app-button></app-button>

    </div>
  </div>
</ion-content>
